@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-button-color: #6200ee;
  --secondary-button-color: #1e1e1e;
  --header-background-color: #1e1e1e;
  --primary-background-color: #121212;
  --primary-text-color: #e0e0e0;
}

body {
  background-color: var(--primary-background-color); /* Dark gray/black background */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color); /* Light greenish text for overall readability */
}

html, body {
  height: 100%;
  margin: 0;
} 

.fullPage {
  max-width: 100vw;
  min-height: 100vh; /* Full viewport height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #333; /* Darker background for code blocks */
  color: var(--primary-text-color); /* Light greenish text for code blocks */
  padding: 2px 4px;
  border-radius: 4px;
}